.IndividualAdoption__Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IndividualAdoption__Second {
    border-radius: 10px;
    margin: 10px;
    width: 700px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.IndividualAdoption__Image {
    margin-top: 10px;
    max-height: 625px;
    max-width: 680px;
    border-radius: 10px;
}

.IndividualAdoption__Information {
    display: flex;
    flex-direction: row;
    /* background-color: red; */
    max-width: 680px;
    min-width: 400px;
    max-height: 300px;
    font-size: 20px;
}

.IndividualAdoption__InformationLeft {
display: flex;
flex-direction: column;
width: 50%;
}

.IndividualAdoption__InformationRight {
display: flex;
width: 50%;
max-height: 300px;
overflow: auto;
}