.RecoveryPasswordReset_Main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.RecoveryPasswordReset__Form {
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px black;
    width: 400px;

    color: grey;
    font-size: 20px;
}